{% load static %} {% load getItem %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedDBExplorer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <span class="logo">
        <img src='{% static "img/logo3.png" %}' alt="logo">
      </span>
      <div class="right">
        {% comment %} <a href="{% url 'Logout' %}" class="logout-btn">log out</a> {% endcomment %}
        <label class="popup">
          <input type="checkbox" />
          <div tabindex="0" class="burger">
            <svg
              viewBox="0 0 24 24"
              fill="white"
              height="20"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"
              ></path>
            </svg>
          </div>
          <nav class="popup-window">
            <legend>Profile</legend>
            <ul>
              <li>
                <a href="#">
                  <svg
                  width="14"
                  height="14"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    height="20"
                    width="20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"
                    ></path>
                  </svg>
                  <span>{{user}}</span>
                </a>
              </li>
              <li>
                <a href="{% url 'Logout' %}">
                  <svg
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    stroke-linecap="round"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.598 9h-1.055c1.482-4.638 5.83-8 10.957-8 6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5c-5.127 0-9.475-3.362-10.957-8h1.055c1.443 4.076 5.334 7 9.902 7 5.795 0 10.5-4.705 10.5-10.5s-4.705-10.5-10.5-10.5c-4.568 0-8.459 2.923-9.902 7zm12.228 3l-4.604-3.747.666-.753 6.112 5-6.101 5-.679-.737 4.608-3.763h-14.828v-1h14.826z"
                    ></path>
                  </svg>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </nav>
        </label>        
        <span class="table-icon" onclick="openpopup()"
        ><ion-icon name="apps"></ion-icon
          ></span>
        </div>
    </div>
    <div class="hide pop-up">
      <div class="table-container">
        <div class="table-wrapper">
          <table>
            {% if table %}
            <tr>
              {% for col in columns %}
              <th>{{col}}</th>
              {% endfor %}
            </tr>
            {% for i in table %}
            <tr>
              {% for j in columns %}
              <td>{{i|get:j}}</td>
              {% endfor %}
            </tr>
            {% endfor %} {% endif %}
          </table>
        </div>
      </div>
    </div>
    <div class="result-container">
      <div class="titlebar">
        <span class="nav active"
          >Chat <ion-icon name="chatbubbles"></ion-icon
        ></span>
        <span class="nav">Graph <ion-icon name="analytics"></ion-icon></span>
      </div>
      <div
        class="answer tab"
        hx-on="htmx:afterSettle: document.querySelector('.chat-list').scrollIntoView({ behavior: 'smooth', block: 'end' });"
      >
        <div class="chat-list">
          <div class="convo">
            <div class="chat">
              <div class="avatar-icon bot-icon"></div>
              <div class="message bot">
                  <span>Hi, I'm DB chatbot 🤖. How can i help you?</span>
              </div>
            </div>
          </div>
          {% for c in chat %}
          <div class="convo">
            <div class="user chat">
              <div class="avatar-icon user-icon"></div>
              <div class="message user-msg">
                <span>{{ c.question }}</span>
                <small class="dt">{{c.created_at}}</small>
              </div>
            </div>
            <div class="chat">
              <div class="avatar-icon bot-icon"></div>
              <div class="message bot">
                <div class="code-seg">
                  <code>SQL Query: {{c.query_text}}</code>
                </div>
                <span>{{ c.answer }}</span>
                <small class="dt">{{c.created_at}}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <form
          id="chatForm"
          hx-post="/ask/"
          hx-trigger="click from:#ask-btn"
          hx-target=".chat-list"
          hx-swap="beforeend scroll:bottom"
          hx-on--before-request="hideIcon(1)"
          hx-on--after-request="this.reset();hideIcon(1)"
          hx-indicator="#spinner"
        >
          {% csrf_token %}
          <div>
            <input
              type="text"
              name="query"
              id="query"
              placeholder="Ask me anything 😉"
              required
            />
            <button id="ask-btn" type="submit">
              <div class="btn-icon btn-1">
                <ion-icon name="send"></ion-icon>
              </div>
              <span class="indicator" id="spinner">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                >
                  <rect
                    width="10"
                    height="10"
                    x="1"
                    y="1"
                    fill="currentColor"
                    rx="1"
                  >
                    <animate
                      id="svgSpinnersBlocksShuffle20"
                      fill="freeze"
                      attributeName="x"
                      begin="0;svgSpinnersBlocksShuffle27.end"
                      dur="0.2s"
                      values="1;13"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle21"
                      fill="freeze"
                      attributeName="y"
                      begin="svgSpinnersBlocksShuffle24.end"
                      dur="0.2s"
                      values="1;13"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle22"
                      fill="freeze"
                      attributeName="x"
                      begin="svgSpinnersBlocksShuffle25.end"
                      dur="0.2s"
                      values="13;1"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle23"
                      fill="freeze"
                      attributeName="y"
                      begin="svgSpinnersBlocksShuffle26.end"
                      dur="0.2s"
                      values="13;1"
                    />
                  </rect>
                  <rect
                    width="10"
                    height="10"
                    x="1"
                    y="13"
                    fill="currentColor"
                    rx="1"
                  >
                    <animate
                      id="svgSpinnersBlocksShuffle24"
                      fill="freeze"
                      attributeName="y"
                      begin="svgSpinnersBlocksShuffle20.end"
                      dur="0.2s"
                      values="13;1"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle25"
                      fill="freeze"
                      attributeName="x"
                      begin="svgSpinnersBlocksShuffle21.end"
                      dur="0.2s"
                      values="1;13"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle26"
                      fill="freeze"
                      attributeName="y"
                      begin="svgSpinnersBlocksShuffle22.end"
                      dur="0.2s"
                      values="1;13"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle27"
                      fill="freeze"
                      attributeName="x"
                      begin="svgSpinnersBlocksShuffle23.end"
                      dur="0.2s"
                      values="13;1"
                    />
                  </rect>
                </svg>
              </span>
            </button>
          </div>
        </form>
      </div>
      <div class="graph tab not-active-tab">
        <div class="graph-chat-list">
          <div class="convo">
            <div class="chat">
              <div class="avatar-icon bot-icon"></div>
              <div class="message bot">
                <span
                  >Hi, I'm Plotter chatbot 🤖. I can assist you to plot different
                  graphs?</span
                >
              </div>
            </div>
          </div>
          {% for g in chart %}
          <div class="convo">
            <div class="user chat">
              <div class="avatar-icon user-icon"></div>
              <div class="message user-msg">
                <span>{{ g.question }}</span>
                <small class="dt">{{g.created_at}}</small>
              </div>
            </div>
            <div class="chat">
              <div class="avatar-icon bot-icon"></div>
              <div class="message bot">
                <span align="center">{{ g.chart_data.title }}</span>
                <div class="chart-seg">
                  <!-- <img src="{% static 'img/bar_chart.png' %}" alt="chart" /> -->
                  <canvas id="myChart{{g.id}}"></canvas>
                </div>
                <small class="dt">{{g.created_at}}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <form
          id="graphForm"
          hx-post="/plot/"
          hx-trigger="click from:#plot-btn"
          hx-target=".graph-chat-list"
          hx-swap="beforeend scroll:bottom"
          hx-on--before-request="hideIcon(2)"
          hx-on--after-request="this.reset();hideIcon(2)"
          hx-indicator="#spinner1"
        >
          {% csrf_token %}
          <div>
            {% comment %}
            <input
              type="text"
              name="query"
              id="query"
              placeholder="Ask me anything 😉"
              required
            />
            {% endcomment %}
            <select name="chart-type" required>
              {% for ch in chartTypes%}
              <option value="{{ ch }}">{{ ch }}</option>
              {% endfor %}
            </select>
            <select name="column-name" required>
              {% for c in columns%}
              <option value="{{ c }}">{{ c }}</option>
              {% endfor %}
            </select>
            <button id="plot-btn" type="submit">
              <div class="btn-icon btn-2">
                <ion-icon name="send"></ion-icon>
              </div>
              <span class="indicator" id="spinner1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                >
                  <rect
                    width="10"
                    height="10"
                    x="1"
                    y="1"
                    fill="currentColor"
                    rx="1"
                  >
                    <animate
                      id="svgSpinnersBlocksShuffle20"
                      fill="freeze"
                      attributeName="x"
                      begin="0;svgSpinnersBlocksShuffle27.end"
                      dur="0.2s"
                      values="1;13"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle21"
                      fill="freeze"
                      attributeName="y"
                      begin="svgSpinnersBlocksShuffle24.end"
                      dur="0.2s"
                      values="1;13"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle22"
                      fill="freeze"
                      attributeName="x"
                      begin="svgSpinnersBlocksShuffle25.end"
                      dur="0.2s"
                      values="13;1"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle23"
                      fill="freeze"
                      attributeName="y"
                      begin="svgSpinnersBlocksShuffle26.end"
                      dur="0.2s"
                      values="13;1"
                    />
                  </rect>
                  <rect
                    width="10"
                    height="10"
                    x="1"
                    y="13"
                    fill="currentColor"
                    rx="1"
                  >
                    <animate
                      id="svgSpinnersBlocksShuffle24"
                      fill="freeze"
                      attributeName="y"
                      begin="svgSpinnersBlocksShuffle20.end"
                      dur="0.2s"
                      values="13;1"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle25"
                      fill="freeze"
                      attributeName="x"
                      begin="svgSpinnersBlocksShuffle21.end"
                      dur="0.2s"
                      values="1;13"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle26"
                      fill="freeze"
                      attributeName="y"
                      begin="svgSpinnersBlocksShuffle22.end"
                      dur="0.2s"
                      values="1;13"
                    />
                    <animate
                      id="svgSpinnersBlocksShuffle27"
                      fill="freeze"
                      attributeName="x"
                      begin="svgSpinnersBlocksShuffle23.end"
                      dur="0.2s"
                      values="13;1"
                    />
                  </rect>
                </svg>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
      let ctx, chartData;
      {% for g in chart %}
      ctx = document.getElementById("myChart{{g.id}}");
      chartData = {{g.chart_data|safe}}
      new Chart(ctx, {
        type: chartData.chart ?? chartData.chartType,
        data: {
          labels: chartData.labels ?? chartData.label,
          datasets: [
            {
              data: chartData.data,
              //backgroundColor: chartData.colors ?? chartData.color,
              borderWidth: 1,
              borderRadius: [10, 10]
            },
          ],
        },
        options: {
          plugins: {
            legend: {
              display: false,
            },
          },
          title: {
            display: true,
            text: "chartData.title",
          },
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
      {% endfor %}
    </script>
  </body>
</html>
