{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <title>MedDBExplorer</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
  </head>
  <body>
    <div class="login-nav">
      <span class="logo">
        <img src='{% static "img/logo3.png" %}' alt="logo" />
      </span>
    </div>
    <div class="main-container">
      <div class="left-container">
        <p>
          Welcome to MedDBExplorer! Transform complex medical data into
          actionable insights effortlessly. Enjoy natural language querying,
          dynamic visualizations, and robust analytics, all within a secure and
          user-friendly interface. Unlock the future of healthcare data
          management today!
        </p>
        <div class="img-container">
          <img src="../../static/img/illustration.svg" alt="" />
        </div>
      </div>
      <div class="right-container">
        <div class="heading">Sign In</div>
        <form action="/login/" class="form" method="post">
          {% csrf_token %}
          <input
            required
            class="input"
            type="text"
            name="username"
            id="username"
            placeholder="Username"
          />
          <input
            required
            class="input"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          {% if error %}
          <div class="error">{{ error }}<span class="close-btn"><ion-icon name="close-outline"></ion-icon></span></div>
          {% endif %}
          <input class="login-button" type="submit" value="Sign In" />
        </form>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script>
      document.querySelector('.error').addEventListener('click', e => {
        document.querySelector('.error').style.display = 'none';
      })
    </script>
  </body>
</html>
